.root {
  display: flex;
  flex-direction: column;
  justify-content: center;
}
.coffees {
  display: flex;
  justify-content: space-between;
  margin: 2rem;
}
.coffee {
  margin: 2rem;
}
.coffee:hover {
  opacity: 0.6;
}
.button {
  height: 2.5rem;
  margin: 1rem 0;
}
.addFeedback {
  width: 46.5%;
  height: 2.3rem;
  padding-left: 1rem;
  margin: 1rem 0;
  place-items: start;
}
.sendFeedback {
  height: 2.5rem;
  width: 100%;
  margin: 1rem 0;
}
.feedback {
  display: flex;
}
.items {
  display: flex;
  justify-content: space-around;
  /* margin: .1rem; */
  padding: 0.5em;
  place-items: center;
  width: 90%;
  height: 2em;
  color: black;
  /* background-color: #fff; */

}
.item {
  width: 50%;
  height: 2rem;
  /* background: white; */
  padding-left: 1rem;
  color: rgb(99, 94, 105);
  padding-top: 0.7em;
  margin: 0;
  background-color: #fff;
  border: none;
}
.delete {
  border: none;
  cursor: pointer;
  background-color: #fff;
  width: 7%;
  margin-bottom: 0.4em;
  margin-left: 1em;
}
.edit {
  background-color: #fff;
  border: none;
  width: 7%;
  margin-bottom: 0.4em;
  cursor: pointer;
}
