.Card{
    display: flex;
    flex-direction: column;
    justify-content: space-between;
    .buttons{
        .active {
          padding: 10px 20px;
          min-width: 50px;
          border-radius: 2rem;
          background-color: #76807d;

          &.active {
              background-color: #48b393;
              color: rgb(144, 52, 52);
              cursor: pointer;
              display: flex;
              justify-content: center;
              transition: all 0.1s;
            }
        }
        .filter{
          padding: 10px 20px;
          min-width: 50px;
          border-radius: 2rem;
          &:hover{
              background-color: #48b393;
              color: rgb(144, 52, 52);
              cursor: pointer;
              display: flex;
              justify-content: center;
              transition: all 0.1s;
            }
        }
    }
    .cards{
        display: flex;
        flex-wrap: wrap;
        .card{
            width: 20%;
            height: 400px;
            margin: 2rem;
            padding: 0.3rem;
        }
    }
}