.root {
  display: flex;
  flex-direction: column;
  width: 90%;
}
.form {
  margin: 2rem 0;
  width: 100%;
}
input {
    height: 2.5em;
    width: 42%;
}
.add {
    height: 3em;

}
.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo,
.items {
  display: flex;
  justify-content: space-between;
  margin: .2 1rem;
  padding: .5em;
  place-items: center;
  /* border: 1px solid white; */
  width: 90%;
  height: 2em;
  background-color: #fff;
  /* border: 1px solid red; */
  border-bottom: 1px solid gray;
}
.items {
  display: flex;
  justify-content: space-between;
}
.item{
  padding-left: 1em;
  border: none;
  border-right: 1px solid gray;
}
.delete{
  background: none;
  border: none;
  cursor: pointer;
  border-right: 1px solid gray;
}
.edit{
  background: none;
  border: none;
  cursor: pointer;
}
