.root {
  display: flex;
  flex-direction: column;
  width: 70%;
}
.form {
  margin: 2rem 0;
  width: 90%;
}
input {
    height: 2.5em;
}
.add {
    height: 3em;
}
.delete {
    height: 3em;
    background-color: transparent;
}
.todos {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
.todo {
  display: flex;
  justify-content: space-between;
  margin: 0 1rem;
  padding: .5em;
  place-items: center;
  /* border: 1px solid white; */
  width: 90%;
}
  .delete{
    color: white;
    background: none;
    border: none;
    cursor: pointer;
}
